<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href=""> -->
    <script src="{{ url_for('static',filename='js/j.js') }}"></script>
</head>
<body>

    <h1>MULTIPLICATION TABLE</h1>
    <table>
    {% for i in range(1,11) %}
     <tr>
        <td>{{ i }}</td>
        <td>x</td>
        <td>{{ num }}</td>
        <td>=</td>
        <td>{{ num*i }}</td>
     </tr>   
     {% endfor %}
    </table> 
    
    
</body>
</html>