<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>STUDENT REGISTRATION</h1>
    <form action="http://127.0.0.1:5000/suc" method="post">
        <label for="">Enter name</label>
        <input type="text" name="fname"> <br>
        <label for="">Enter email</label>
        <input type="email" name="em"> <br>
        <label for="">Enter phno</label>
        <input type="number" name="ph"> <br>
        <input type="submit" name="submit">
    </form>
</body>
</html>