<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>STUDENTS LOGIN</h1>
    <form action="http://127.0.0.1:5000/l" method="post">
        <label for="">Enter name</label>
        <input type="text" name="fname"> <br>
        <label for="">Enter email</label>
        <input type="email" name="em"> <br>
        <label for="">Enter your password</label> 
        <input type="password" name="psw">
        <input type="submit" name="LOGIN">
    </form>
    
</body>
</html>